@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

$banner-padding: 3% 0 5% 0;
$banner-secondary-font-color: #B4C7E7;

$primary-color: #1B3764;
$secondary-bg-color: #F6F8FC;
$tertiary-bg-color: #FFFFFF;
$quaternary-color: #FFCA42;

$primary-font-size: xx-large;
$seconadary-font-size: small;
$medium: 16px;
$small: 13px;
$large: 36px;

$secondary-font-color: #969AA0;

$primary-font-family: "cardo";
$secondary-font-family: "inter";

$primary-alignment: center;
$secondary-alignment: left;

$primary-font-weight: 700;
$secondary-font-weight: 400;

$primary-layout: flex;

@mixin banner-title {
    font-family: $primary-font-family;
    color: #FFFFFF;
    font-size: $large;
    text-align: center;
    font-weight: $primary-font-weight;
}
@mixin banner-description {
    font-family: $secondary-font-family;
    color: $banner-secondary-font-color;
    font-size: $small;
    line-height: 1.7;
    text-align: center;
    font-weight: $secondary-font-weight;
}

@mixin all-files {
    margin: 0;
    padding: 0;
    text-align: -webkit-center;
    box-sizing: border-box;
}

@mixin title-decoration($decoration-color: $quaternary-color) {
    text-decoration-line: underline;
    text-decoration-color: $decoration-color;
    text-decoration-style: solid;
    text-underline-offset: 8px;
}