@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  text-align: -webkit-center;
  box-sizing: border-box;
}

.navbar {
  background-color: #1B3764;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  gap: 0.25rem;
}
.navbar .icon {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}
.navbar .icon .store_logo {
  width: 10%;
}
.navbar .icon .store_name {
  margin-right: auto;
  font-family: "inter";
  font-weight: 700;
  font-size: 20px;
  color: white;
}
.navbar .icon .icons {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}
.navbar .icon .icons .media_icons {
  display: inline-block;
}
.navbar .icon .icons .media_icons .fa-brands {
  color: white;
}
.navbar .icon .hamburger-icon {
  color: white;
}
.navbar .menus {
  display: none;
}
.navbar .menus .nav_link {
  font-family: "inter";
  font-weight: 400;
  color: white;
  font-size: 16px;
  padding: 0.5rem 0;
  list-style-type: none;
  position: relative;
  text-align: left;
}
.navbar .menus .nav_link .cart_weight {
  width: 0.75rem;
  position: absolute;
  top: -6px;
  right: -6px;
}
.navbar .menus .nav_link:active {
  color: #1B3764;
  background-color: white;
  font-weight: 700;
}
.navbar .menus .sign-up {
  color: white;
}

.about_author_banner {
  background-color: #1B3764;
  padding: 3% 0 5% 0;
}
.about_author_banner .about_author_title {
  font-family: "cardo";
  color: #FFFFFF;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-color: #FFCA42;
  text-decoration-style: solid;
  text-underline-offset: 8px;
}
.about_author_banner .about_author_description {
  font-family: "inter";
  color: #B4C7E7;
  font-size: 13px;
  line-height: 1.7;
  text-align: center;
  font-weight: 400;
  padding: 1% 33%;
}

.author_information {
  padding: 7% 15%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #F6F8FC;
}
.author_information .author_picture {
  width: 100%;
  padding: 0;
}
.author_information .author_info {
  display: flex;
  flex-wrap: wrap;
  padding: 6% 3.5%;
}
.author_information .author_info .author_biography {
  background-color: #FFFFFF;
  border: 1px solid #DFE9F8;
  flex: 33%;
  padding: 4% 4% 0% 4%;
}
.author_information .author_info .author_biography td {
  font-family: "cardo";
  text-align: left;
  color: #1B3764;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
}
.author_information .author_info .author_biography .author_details {
  font-family: "inter";
  color: #969AA0;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 45px;
}
.author_information .author_info .author_biography .author_details i {
  color: #1B3764;
  padding: 6%;
}
.author_information .author_additional_info {
  padding-left: 5%;
  flex: 50%;
  padding-right: 3%;
  text-align: left;
}
.author_information .author_additional_info .author_name {
  font-family: "cardo";
  color: #1B3764;
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-color: #FFCA42;
  text-decoration-style: solid;
  text-underline-offset: 8px;
}
.author_information .author_additional_info .about_author {
  text-align: left;
  font-family: "inter";
  color: #969AA0;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 1rem;
}
.author_information .author_additional_info .contact_author {
  font-family: "cardo";
  color: #1B3764;
  font-size: 15px;
  font-weight: 700;
  background-color: #FFCA42;
  padding: 2% 11%;
  border: none;
  margin-top: 4%;
}

.author_and_his_story {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 7% 16.5% 5% 16.5%;
}
.author_and_his_story .author_story {
  flex: 1 0 35%;
  text-align: left;
  padding-right: 3%;
}
.author_and_his_story .author_story .author_story_title {
  text-align: left;
  font-family: "cardo";
  font-weight: 700;
  color: #1B3764;
  font-size: xx-large;
  margin-bottom: 3%;
  padding-bottom: 15px;
  text-decoration-line: underline;
  text-decoration-color: #FFCA42;
  text-decoration-style: solid;
  text-underline-offset: 8px;
}
.author_and_his_story .author_story .author_story_description {
  font-family: "inter";
  color: #969AA0;
  text-align: left;
  font-size: 13px;
  line-height: 25px;
}
.author_and_his_story .author_story .authors_awards {
  display: flex;
  flex-direction: column;
  margin: 5%;
}
.author_and_his_story .author_story .authors_awards .awards {
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
}
.author_and_his_story .author_story .authors_awards .awards .award {
  border: 1px solid #FFCA42;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  font-family: "cardo";
  font-weight: 700;
  font-size: larger;
  background-color: #FFCA42;
}
.author_and_his_story .author_story .authors_awards .awards .awards_info {
  padding-left: 3%;
}
.author_and_his_story .author_story .authors_awards .awards .awards_info .award_name {
  font-size: medium;
  font-family: "cardo";
  font-weight: 700;
  text-align: left;
  color: #1B3764;
  margin-bottom: 2%;
}
.author_and_his_story .author_story .authors_awards .awards .awards_info .award_description {
  font-family: "inter";
  font-weight: 400;
  text-align: left;
  color: #969AA0;
  font-size: 13px;
  line-height: 25px;
}
.author_and_his_story .author_profile {
  max-width: 50%;
  flex-shrink: 0;
}

.author_books {
  padding: 7% 15% 5% 15%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #F6F8FC;
}
.author_books .author_books_section_title {
  text-align: center;
  font-family: "cardo";
  font-weight: 700;
  color: #1B3764;
  font-size: xx-large;
  text-decoration-line: underline;
  text-decoration-color: #FFCA42;
  text-decoration-style: solid;
  text-underline-offset: 8px;
}
.author_books .books {
  display: flex;
  padding-top: 2%;
}
.author_books .books .book_conatiner {
  display: flex;
  flex-direction: row;
  flex: 1 0 50%;
}
.author_books .books .book_conatiner .book_cover {
  max-width: 100%;
  max-height: 100%;
}
.author_books .books .book_conatiner .book_info {
  flex: 80%;
  padding: 3%;
  text-align: left;
}
.author_books .books .book_conatiner .book_info .book_title {
  color: #1B3764;
  font-family: "cardo";
  font-weight: 700;
  font-size: 19px;
  text-align: left;
}
.author_books .books .book_conatiner .book_info .line_separator {
  text-decoration-line: underline;
  text-decoration-color: #FFCA42;
  text-decoration-style: solid;
  text-underline-offset: 8px;
}
.author_books .books .book_conatiner .book_info .book_description {
  color: #969AA0;
  font-family: "inter";
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  margin-right: 25%;
  margin-top: 5%;
  text-align: left;
}
.author_books .books .book_conatiner .book_info .book_page_details {
  display: flex;
  gap: 25%;
  flex-wrap: wrap;
}
.author_books .books .book_conatiner .book_info .book_page_details .about_book {
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  margin: 5% 0%;
  font-family: "cardo";
  color: #1B3764;
}
.author_books .books .book_conatiner .book_info .book_page_details .about_book_value {
  font-size: 13px;
  font-weight: 500;
  margin: 5% 0%;
  font-family: "inter";
  color: #969AA0;
}
.author_books .books .book_conatiner .book_info .book_order_button {
  font-family: "cardo";
  color: #1B3764;
  font-weight: 700;
  border: 1px solid #FFCA42;
  background-color: #FFFFFF;
  padding: 4% 17%;
  margin-top: 10%;
}

.author_sponsors {
  padding: 7% 15% 5% 15%;
}
.author_sponsors .author_sponsor_title {
  text-align: center;
  font-family: "cardo";
  font-weight: 700;
  color: #1B3764;
  font-size: xx-large;
  text-decoration-line: underline;
  text-decoration-color: #FFCA42;
  text-decoration-style: solid;
  text-underline-offset: 8px;
}
.author_sponsors .sponsors_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.author_sponsors .sponsors_list .sponsor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1 0 10%;
  padding: 25px;
}
.author_sponsors .sponsors_list .sponsor .sponsor_logo {
  width: 60%;
}
.author_sponsors .sponsors_list .sponsor .sponsor_name {
  font-size: 16px;
  font-family: "cardo";
  color: #1B3764;
  font-weight: 700;
  margin: 5% 0%;
}
.author_sponsors .sponsors_list .sponsor .sponsor_description {
  font-family: "inter";
  font-size: 13px;
  font-weight: 400;
  color: #969AA0;
  line-height: 25px;
  padding: 0% 2%;
}
.author_sponsors .subscribe {
  background-color: #FFCA42;
}
.author_sponsors .subscribe .read_first_chapter {
  padding: 8% 0%;
}
.author_sponsors .subscribe .subscribe_title {
  font-family: "cardo";
  font-weight: 700;
  color: #1B3764;
  font-size: xx-large;
  text-decoration-line: underline;
  text-decoration-color: #1B3764;
  text-decoration-style: solid;
  text-underline-offset: 8px;
}
.author_sponsors .subscribe .subscribe_description {
  font-family: "inter";
  font-weight: 400;
  color: #1B3764;
  font-size: 13px;
  margin: 3% 29% 3%;
  line-height: 25px;
}
.author_sponsors .subscribe .subscribe_email {
  font-family: "inter";
  font-weight: 400;
  color: #969AA0;
  background-color: #FFFFFF;
  font-size: 12px;
  border: none;
  padding: 1.5% 13% 1.5% 1.5%;
}
.author_sponsors .subscribe .subscribe_button {
  text-align: center;
  font-family: "cardo";
  font-weight: 700;
  color: #FFFFFF;
  background-color: #1B3764;
  border: none;
  font-size: 12px;
  padding: 1.4% 6%;
}

.footer {
  background-color: #1B3764;
}
.footer .footer_container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 4rem;
  justify-content: space-around;
  gap: 3rem;
}
.footer .footer_container .store_identity {
  display: flex;
}
.footer .footer_container .store_identity .logo {
  width: 1.25rem;
}
.footer .footer_container .store_identity .store_name {
  font-family: "inter";
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding-left: 0.5rem;
}
.footer .footer_container .icon {
  padding-top: 1.75rem;
}
.footer .footer_container .icon .icon_links {
  border: 2px solid #FFCA42;
  padding: 0.375rem 0.75rem;
}
.footer .footer_container .icon .icon_links .fa-brands {
  color: white;
}
.footer .footer_container .footer_links {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.footer .footer_container .footer_links .link_category {
  font-family: "cardo";
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 1.25rem;
  text-align: left;
}
.footer .footer_container .footer_links .link {
  list-style-type: none;
  text-align: left;
}
.footer .footer_container .footer_links .link .link_icon {
  color: #FFCA42;
  font-size: 0.25rem;
}
.footer .footer_container .footer_links .link .mini_link {
  font-family: "inter";
  font-weight: 400;
  text-decoration: none;
  font-size: 11px;
  color: #B4C7E7;
  padding-left: 0.5rem;
}
.footer .footer_container .footer_links .contact_details .contact_us {
  text-align: left;
}
.footer .footer_container .footer_links .contact_details .contact_us .contact_via {
  font-family: "cardo";
  color: white;
  font-weight: 700;
  font-size: 13px;
}
.footer .footer_container .footer_links .contact_details .contact_us .contact_address {
  font-family: "inter";
  color: #B4C7E7;
  font-size: 11px;
  font-weight: 400;
}
.footer .copyright_separator {
  margin: 0 10rem;
}
.footer .copyright_container {
  text-align: center;
}
.footer .copyright_container .copyright {
  font-family: "inter";
  color: #B4C7E7;
  font-weight: 400;
  font-size: 11px;
  padding: 0.75rem 0;
}
.footer .copyright_container .copyright .fa {
  padding-right: 0.5rem;
}
.footer .copyright_container .copyright .copyright_value {
  color: white;
}

@media screen and (max-width: 1000px) {
  .author_and_his_story {
    flex-direction: column-reverse;
    padding: 7% 6% 5% 6%;
  }
  .author_and_his_story .author_profile {
    width: 100%;
  }
  .author_books .books {
    flex-direction: column;
    justify-content: end;
  }
  .author_books .books .book_conatiner {
    margin-top: 5%;
  }
}
@media screen and (max-width: 530px) {
  .author_books .books .book_conatiner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .author_sponsors .subscribe .subscribe_email {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 700px) and (min-width: 425px) {
  .author_sponsors .sponsors_list .sponsor {
    flex: 1 0 35%;
  }
}
@media screen and (min-width: 1024px) {
  .navbar {
    flex-direction: row;
  }
  .navbar .store_name {
    font-size: 20px;
  }
  .navbar .hamburger-icon {
    display: none;
  }
  .navbar .menus {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
  .navbar .menus .menu_list {
    display: flex;
    gap: 3rem;
  }
  .navbar .menus .menu_list .nav_link {
    padding: 0;
    float: left;
    text-align: left;
  }
  .navbar .menus .menu_list .nav_link:active {
    color: #1B3764;
    background-color: white;
    font-weight: 700;
  }
  .footer_container .footer_links {
    gap: 4rem;
  }
  .footer_container .copyright_separator {
    margin: 0 12rem;
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    padding: 1rem 5rem;
  }
  .navbar .store_logo {
    width: 10%;
  }
}
@media screen and (min-width: 1280px) {
  .footer_container {
    padding: 2.75rem 12rem;
    justify-content: space-around;
  }
}/*# sourceMappingURL=about-the-author.css.map */