@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    text-align: -webkit-center;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.blog-banner {
    background-color: #1B3764;
    padding-top: 3%;
    padding-bottom: 5%;
}
.blog-banner h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: white;
    font-size: xx-large;
    font-weight: 700;
    border-bottom: 3px solid #FFCA42;
    padding-bottom: 1%;
    margin: 0% 45%;
}
.blog-banner p {
    font-family: sans-serif;
    color: #B4C7E7;
    font-size: 13px;
    text-align: center;
    padding-top: 1%;
    margin: 0% 35%;
    line-height: 1.7;
}
main {
    background-color: #F5F8FC;
}
.blogArticles {
    padding-top: 8%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    align-items: center;
    justify-content: center;
}
.blogArticles .blogs {
    padding-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.blogArticles article img {
    width: 300px;
}
.blogArticles article .blogInfo {
    width: 300px;
    background-color: white;
    padding: 23px;
}
.blogArticles article .blogInfo h3 {
    margin-top: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-bottom: 5px;
    color: #1B3764;
    line-height: 23px;
    text-align: left;

}
.blogArticles article .blogInfo #blogDescription {
    font-family: sans-serif;
    color: rgb(131 131 131 / 81%);
    line-height: 24px;
    font-size: 13px;
    margin: 0px 0px 12px 0px;
    text-align: left;
}
.blogArticles article .blogInfo #blogLink {
    font-family: serif;
    color: #1B3764;
    margin-bottom: 0px;
    font-size: 13px;
    text-align: left;
}
.blogArticles article .blogInfo #blogLink a{
    padding-right: 53px;
    color: #1B3764;
}