body{
    margin: 0;
}
footer{
    width: 1280px;
    height: 325px;
    background-color: #1B3764;
}
footer .fullContent{
    display: flex;
    gap: 180px;
}
footer #book {
    position: relative;
    top: 50px;
    left: 160px;
}
footer #book .logo img {
    width: 22px;
    height: 25px;
}
footer #book .logo .storeName{
    color: white;
    font-family: sans-serif;
    font-size: larger;
    font-weight: bold;
    position: relative;
    left: 5px;
    top: -7px;
}
footer #book .icon {
    width: 200px;
    height: 55px;
    display: flex;
    top: 20px;
    gap: 10px;
}
footer #book .icon div{
    border: #ffca42 solid 1px;
    width: 15px;
    height: 16px;
    position: relative;
    top: 15px;
    padding: 9px
}
footer #content {
    width: 700px;
    height: 200px;
    margin: 0;
    position: relative;
    display: flex;
    gap: 30px;
    top: 50px;
    left: 115px;
}
footer #content div{
    width: 175px;
}
footer #content p {
    margin: 0;
    color: white;
    font-family: serif;
}
footer #content li{
    list-style-type: none;
    padding: 5px 0px 5px 0px;
    font-family: sans-serif;
    color: rgb(203 203 203 / 81%);
    font-size: 12px;
    font-weight: lighter;
}
footer #content ul i{
    font-size: 0.2rem;
}
footer #content ul{
    padding-left: 0;
}
footer #content ul span{
    padding-left: 8px;
}
footer #content address {
    position: relative;
    top: 21px;
}
footer #content address p {
    font-family: sans-serif;
    padding-bottom: 15px;
    line-height: 15px;
    margin: 0;
    color: rgb(203 203 203 / 81%);
    font-size: 12px;
    font-weight: lighter;
}
footer #content address #contactTitle{
    padding-left: 0px;
    padding-right: 10px;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
}
#copyrightSeparator{
    position: relative;
    top: 71px;
    width: 75%;
}
footer #copyright {
    position: relative;
    top: 77px;
    font-family: sans-serif;
    color: rgb(203 203 203 / 81%);
    font-size: 12px;
}
footer #copyright span{
    font-weight: bold;
}
footer #copyright p{
    padding-left: 525px;
}