@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

body {
    margin: 0;
}
.navbar {
    margin: 0;
    padding: 0;
    text-align: -webkit-center;
    box-sizing: border-box;
}
.single_product_banner {
    background-color: #1B3764;
    padding-top: 3%;
    padding-bottom: 5%;
}
.single_product_banner .single_product_banner_title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: white;
    font-size: xx-large;
    font-weight: 700;
}
.single_product_banner hr {
    width: 5%;
    border: solid #FFCA42;
}
.single_product_banner .single_product_banner_description {
    font-family: sans-serif;
    color: #B4C7E7;
    font-size: small;
    text-align: center;
    margin: 0 auto;
    width: 32%;
    padding-top: 1%;
    line-height: 1.7;
}
.product_container {
    padding: 6% 14.5%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.product_container .product_image_conatainer {
    background-color: #F5F8FC;
    padding: 5.5% 0 5.5%;
}
.product_container .product_image {
    width: 75%;
}
.product_container .product_information {
    padding-left: 5%;
    flex: 1 0 19%;
    text-align: left;
}
.product_container .product_information .product_title {
    font-family: "cardo", serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 2%;
    font-size: 26px;
    color: #1B3764;
}
.product_container .product_information .product_price {
    font-family: "inter", sans-serif;
    font-weight: 800;
    margin-top: 0;
    font-size: 20px;
    color: #FFCA42;
}
.product_container .product_information .product_description {
    font-family: "inter", sans-serif;
    font-weight: 400;
    color: #969AA0;
    font-size: 14px;
    margin-bottom: 4.5%;
    line-height: 27.2px;
}
.product_container .product_information .product_details {
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 27.2px;
    color: #969AA0;
}
.product_container .product_information .product_details .product_detailed_info {
    padding-left: 6%;
}
.product_container .product_information .product_details td {
    padding: 1% 1% 1% 0%;
}
.product_container .product_information .add_product {
    margin-top: 7%;
}
.product_container .product_information .number_of_products {
    font-family: "inter", sans-serif;
    border: 1px solid #FFCA42;
    color: #969AA0;
    display: inline-block;
    padding: 3.5% 8% 4.2% 8%;
    margin-right: 1%;
    font-weight: 500;
}
.product_container .product_information .add_product_to_cart_button {
    font-family: "cardo", serif;
    border: 1px solid #FFCA42;
    background-color: #FFCA42;
    color: #1B3764;
    display: inline-block;
    padding: 4% 30%;
    font-weight: 700;
}
.about_product {
    padding: 0% 12% 5%;
    display: flex;
    flex-direction: column;
}
.about_product .product_information_buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.product_information_buttons .product_description_button {
    background-color: #1B3764;
    color: #FFFFFF;
    font-family: "cardo";
    font-weight: 700;
    border: 1px solid #1B3764;
    padding: 2% 6% 2% 6%;
    margin-right: 7%;
}
.product_information_buttons .additional_info_button {
    background-color: #F5F8FC;
    color: #1B3764;
    font-family: "cardo";
    font-weight: 700;
    border: 1px solid #E8ECF2;
    padding: 2% 6% 2% 6%;
}
.about_product .product_additional_info {
    display: flex;
    flex-wrap: wrap;
    gap: 7%;
}
.about_product .product_additional_info  .discount_info {
    flex: 0 1 45%;
}
.about_product .product_additional_info  .who_the_book_for {
    flex: 0 1 45%;
}
.about_product .product_additional_info  .discount_info .discount_info_title {
    font-family: "cardo";
    font-weight: 700;
    color: #1B3764;
}
.about_product .product_additional_info  .who_the_book_for .book_for_title {
    font-family: "cardo";
    font-weight: 700;
    color: #1B3764;
}
.about_product .product_additional_info  .discount_info .discount_info_description {
    font-family: "inter";
    font-size: smaller;
    font-weight: 400;
    color: #969AA0;
    /* padding-right: 20%; */
    line-height: 27.2px;
}
.about_product .product_additional_info  .who_the_book_for .book_for_description {
    font-family: "inter";
    font-size: smaller;
    font-weight: 400;
    color: #969AA0;
    /* padding-right: 20%; */
    line-height: 27.2px;
}
.services {
    background-color: #FFCA42;
    padding: 3% 12%;
    display: flex;
    gap: 10%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.services .service_logo_conatiner {
    text-align: center;
}
.services .service_logo {
    height: 45%;
    padding: 4%;
    background-color: #1B3764;
}
.services .service_name {
    font-family: "cardo";
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: #1B3764;
}
.services .service_description {
    font-family: "inter";
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    color: #1B3764;
}
@media screen and (max-width: 663px), screen and (856px >= width <=1226px) {
    .product_container .product_information {
        margin-top: 5%;
        padding-left: 0;
    }
    .product_container .product_information .add_product .number_of_products {
        margin-bottom: 10px;
    }
    .product_container .product_information .add_product .add_product_to_cart_button {
        padding: 4% 15%;
    }
    .services {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 730px) {
    .about_product .product_information_buttons {
        justify-content: left;
    }
    .about_product .product_information_buttons {
        justify-content: left;
    }
    .about_product .product_information_buttons .product_description_button {
        margin-bottom: 3%;
    }
    .about_product .product_additional_info {
        flex-direction: column;
    }
}
@media screen and (min-width: 1700px) {
    .single_product_banner .single_product_banner_title {
        font-size: xx-large;
    }
    .single_product_banner .single_product_banner_description {
        font-size: larger;
    }
    .product_container .product_information .product_title {
        font-size: xx-large;
    }
    .product_container .product_information .product_price {
        font-size: xx-large;
    }
    .product_container .product_information .product_description {
        font-size: large;
    }
    .product_container .product_information .product_details {
        font-size: large;
    }
    .product_container .product_information .add_product, .number_of_products {
        font-size: x-large;
    }
    .product_container .product_information .add_product, .add_product_to_cart_button {
        font-size: larger;
    }
    .about_product .product_information_buttons button {
        font-size: large;
    }
    .about_product .product_additional_info h3 {
        font-size: xx-large;
    }
    .about_product .product_additional_info p {
        font-size: large;
    }
    .services .product_service h3 {
        font-size: x-large;
    }
    .services .product_service p {
        font-size: large;
    }
}